@model CategoryDTO
@{
}
@* @Html.ValidationSummary() *@
<div style="width:50%">
    <h2> Update Category </h2>
    <a asp-action="Index" asp-controller="Category" class="btn btn-primary">Back</a>
    <form asp-action="UpdateCategory">
        <input type="hidden" asp-for="Id" />

        <div class="my-2">
            <label>Category</label>
            <input type="text" class="form-control" asp-for="CategoryName" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info">Update</button>
        </div>
    </form>
</div>